<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/estilo.css' %}">
</head>

<body>
    <div class="container">
        <h2>BEM VINDO AO COLETIVO MEGÊ</h2>
        <p>Que legal, concluimos mais uma atividade! Então agora é hora de registrar essa aventura! bora la?</p>
        <a href="formulario" class="btn">Cadastrar Atividade</a>
    </div>
</body>

</html>